body {
    background-color: #0b0014;
    margin: 0;
    font-family: sans-serif;

}

h2 {
    color: rgb(131, 236, 255);
    font-size: 4rem;
    font-weight: 700;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    color: #eee;
    overflow-wrap: break-word;
    text-shadow: rgb(255 215 77 / 60%) -1px -1px 6px, rgb(124 127 255 / 60%) 1px 1px 6px;

}

* {
    position: relative;
    box-sizing: border-box;
    transition: 0.3s;
}

section {
    text-align: center;
    padding: 0 100px;
    margin-top: 20px;
}

h1
{
    font-size: 5rem;
    font-weight: bold;

}


p {

    border-radius: 100px;
   
    font-size: 1.1rem;
    color: white;
    text-align: justify;
    line-height: 1, 5;
}

header {
    display: flex;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    background-color: #0c0016;
    padding: 50px;
    border-bottom: 5px solid #6be6ff;
    box-shadow: 0 0 30px 0 rgba(0, 255, 255, .333);
    border-image: linear-gradient(to right, rgb(211, 235, 2), rgb(50, 160, 204)) 1;
}



header {

    border-image: linear-gradient(to right, rgb(211, 235, 2), rgb(50, 160, 204)) 1;
}


.header-content {

    height: 100%;
    width: 600px;
    display: flex;
    flex-direction: column;




}

a {
    text-decoration: none;

}

.buttons {
    display: flex;
}

.btn {
    margin: 0 20px;
    width: 250px;
    height: 40px;
    display: inline-block;
    color: #000;
    font-weight: bold;
    filter: drop-shadow(rgba(255, 215, 77, 1) -1px -1px 2px) drop-shadow(rgba(124, 127, 255, 1) 1px 1px 2px);
    
}

.btn .custom
{
    clip-path: polygon(0 10px, 10px 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
    padding:10px 18px ;
     display: inline-block;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     text-transform: uppercase;
     scroll-behavior: smooth;
     width: 100%;
     text-align: center;
     background: linear-gradient(90deg, rgb(255, 215, 77) 0%, rgb(64, 221, 255) 30%, rgb(124, 127, 255) 85%) 0% 0% / 200% 100%;
}


.profil {

    margin: 100 auto;

}



section>section {
    padding: 0;
    font-size: 1em;
}

.presentation {
    display: flex;
    align-items: center;
    margin: 10px;


}

.presentation>h3 {
    color: #6be6ff;
    font-size: 3rem;
    margin: auto;
    font-weight: 700;
}

.presentation:nth-child(odd) {
    flex-direction: row-reverse;
}

@media only screen and (max-width: 768px) {

    .presentation {
        flex-direction: column !important;
    }

    header {
        flex-direction: column;
        justify-content: center;
    }
    .profil
    {

        width: 100px;
        margin: 0;
    }

    H2 {
        font-size: 2rem;
    }
}